.projects{
    display: flex;
    flex-wrap: wrap;
}

.project{
    position: relative;
    margin: 30px;
}

.pic-size{
    width: 375px;
    height: 300px;
}

.banner{
    position: absolute;
    width: 375px;
    height: 60px;
    background-color: #4aaaa5;
    text-align: center;
    color: white;
    margin: auto;
    bottom: 12px;
    font-size: 20px;
}

.b-text{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 18px;
}

@media screen and (max-width: 960px){
    .pic-size{
        width: 70%;
        height: 60%;
    }

    .project{
        width: 25%;
        height: 50%;
    }

    .banner{
        width: 70%;
        height: 20%;
        font-size: 12px;
    }

    .b-text{
        top: 0;
    }
}